@parsley-green: #14502a;
@light-green: #cde6cb;
@boston-blue:  #428bca;

@brand-primary: @parsley-green;

@body-bg: @light-green;

@hr-border: @boston-blue;

@navbar-inverse-bg: @parsley-green;
@navbar-inverse-border: darken(@navbar-inverse-bg, 5%);
@navbar-inverse-link-color: #ddd;
@navbar-inverse-toggle-hover-bg: @navbar-inverse-border;
@navbar-inverse-toggle-border-color: @navbar-inverse-toggle-hover-bg;