<div ng-controller="SplashCtrl">
    <h1>Splash-2</h1>
    <input type="text" ng-model="search" ng-change="getFacilities()"/>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>City</td>
                <td>State</td>
                <td>Zip Code</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="f in facilities">
                <td>{{f.primaryName}}</td>
                <td>{{f.cityName}}</td>
                <td>{{f.stateName}}</td>
                <td>{{f.postalCode}}</td>
                <td>{{f.locationAddress}}</td>
            </tr>
        </tbody>
    </table>
</div>
