<div class="container" ng-controller="SplashCtrl">
    <h1 class="text-primary">
        Facilities Registry System
        <hr class="animated slideInLeft">
    </h1>
    <input type="text" ng-model="search" class="form-control" ng-change="getFacilities()" placeholder="search the repository" />
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="f in facilities">
                <td>{{f.primaryName}}</td>
                <td>{{f.cityName}}</td>
                <td>{{f.stateName}}</td>
                <td>{{f.postalCode}}</td>
                <td>{{f.locationAddress}}</td>
            </tr>
        </tbody>
    </table>
</div>
